# preliminaries
-targetlibinfo
-tti
-tbaa
-scoped-noalias
-assumption-cache-tracker
-profile-summary-info
-forceattrs
-inferattrs

# essential
-mem2reg
-lower-expect

# one-time global level optimizations that are profitable
-mergefunc
-lowerswitch

# start off with simple inter-procedural opts
-ipconstprop
-ipsccp
-deadargelim

# extreme cleanup
-globalopt
-tbaa
-basicaa
-aa
-simplifycfg
-instcombine
-reassociate
-constprop
-early-cse
-tbaa
-basicaa
-aa
-gvn  # aa
-tbaa
-basicaa
-aa
-adce  # aa
-simplifycfg
-instcombine
-simplifycfg

# expose more optimizations
-basiccg
-globals-aa
-inline  ## aa

# minor cleanup
-simplifycfg
-globalopt
-early-cse
-tbaa
-basicaa
-aa
-dse  # aa
-mldst-motion
-instcombine

# =============== loop optimization phase ===============

# expose more loops and canonicalize them
-tailcallelim
-loop-simplify
-lcssa

# analyze and unswitch loops
-scalar-evolution
-loop-rotate
-scalar-evolution
-tbaa
-scev-aa
-basicaa
-aa
-licm   # aa
-loop-unswitch
-simplifycfg

# cleanup loops
-tbaa
-basicaa
-aa
-loop-instsimplify

# re-canonicalize loops
-loop-simplify
-lcssa

# unroll loops
-scalar-evolution
-indvars
-loop-accesses
-loop-load-elim
-loop-idiom
-loop-deletion
-loop-unroll

# major cleanup
-loop-simplify
-simplifycfg
-tbaa
-basicaa
-aa
-memoryssa
-early-cse-memssa
-simplifycfg

# canonicalize loops
-loop-simplify
-lcssa

# vectorize loops
-scalar-evolution
-tbaa
-scev-aa
-basicaa
-aa
-licm  # aa
-loop-rotate
-loop-distribute   # helps expose more loops to vectorization
-loop-vectorize
-slp-vectorizer
-loop-simplify

# ======= end of loop optimization phase ========

-basiccg
-globals-aa
-inline
-latesimplifycfg   # more aggressive than regular one
-tbaa
-basicaa
-aa
-dse  # aa
-instcombine
-simplifycfg
