
# analysis? I think the passes will require them as needed but w/e
-basicaa
-aa
-memdep
-domtree

# cleanup
-simplifycfg
-instcombine
-reassociate
-constprop
-early-cse
-gvn
-dce
-simplifycfg
-instcombine
-simplifycfg

# more analysis
-basicaa
-aa
-memdep
-domtree

# extra passes
-sink
-mldst-motion
-slp-vectorizer
-instcombine
-simplifycfg

# essential
-lower-expect
