##############
# preliminaries
-targetlibinfo
-tti
-tbaa
-scoped-noalias
-assumption-cache-tracker
-profile-summary-info
-forceattrs
-inferattrs

##############
# essential
-mem2reg
-lower-expect

##############
# one-time global level optimizations that are profitable
-mergefunc

##############
# start off with simple inter-procedural opts
-ipconstprop
-ipsccp
-deadargelim

##############
# initial cleanup
-globalopt
-tbaa
-basicaa
-aa
-simplifycfg
-instcombine
-reassociate
-constprop
-early-cse
-simplifycfg
-instcombine
-simplifycfg

##############
# expose more optimization opprotunities
-basiccg
-globals-aa
-inline  ## aa
-tailcallelim

##############
# another major cleanup
-basicaa
-aa
-memdep
-memcpyopt
-sccp        # conditional constant prop
-domtree
-demanded-bits
-bdce        # aa, bit-tracking dce

-simplifycfg
-early-cse

-tbaa
-basicaa
-aa
-dse  # aa

-mldst-motion
-instcombine

-tbaa
-basicaa
-aa
-gvn  # aa

-tbaa
-basicaa
-aa
-adce  # aa

-simplifycfg

######################################################################
# =============== loop optimization phase ===============

# canonicalize loops
-loop-simplify
-lcssa

# analyze and unswitch loops
-scalar-evolution
-loop-rotate
-scalar-evolution
-tbaa
-scev-aa
-basicaa
-aa
-licm   # aa
-loop-unswitch
-simplifycfg

# cleanup loops
-tbaa
-basicaa
-aa
-loop-instsimplify

# canonicalize loops
-loop-simplify
-lcssa

# unroll loops
-scalar-evolution
-indvars
-loop-accesses
-loop-load-elim
-loop-idiom
-loop-deletion
-loop-unroll

# major cleanup
-tbaa
-basicaa
-aa
-loop-instsimplify
-simplifycfg
-tbaa
-basicaa
-aa
-memoryssa
-early-cse-memssa
-simplifycfg

# canonicalize loops
-loop-simplify
-lcssa

# vectorize loops
-scalar-evolution
-tbaa
-scev-aa
-basicaa
-aa
-licm  # aa
-loop-rotate
-loop-distribute   # helps expose more loops to vectorization
-loop-vectorize
-slp-vectorizer

# cleanup loops
-tbaa
-basicaa
-aa
-loop-instsimplify

# ======= end of loop optimization phase ========
######################################################################

##############
# final expand phase
-basiccg
-globals-aa
-inline

##############
# final cleanup phase
-latesimplifycfg   # more aggressive than regular one
-instcombine
-tbaa
-basicaa
-aa
-dse  # aa
-simplifycfg
